.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	row-gap: 85px;
  height: 100vh;
  background-color: #f0f0f0;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.login-title{
	margin-top: -30px;
	color: #007bff;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px 25px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form label {
  margin-bottom: 8px;
  font-weight: bold;
}

.login-form input {
  margin-bottom: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button-group{
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10px;
}
.btn-login-send{
	width: 100%;
}


.login-form button:hover {
  background-color: #0056b3;
}