.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px; /* Ajustei para um gap mais adequado */
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

.register-title {
  margin-top: -30px;
  color: #007bff;
}

.register-form {

}

.register-form label {
  margin-bottom: 8px;
  font-weight: bold;
}

.register-form input {
  margin-bottom: 16px; /* Adicionado para espaçamento entre os campos */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}