.sidebar {
  width: 180px;
  height: calc(100vh - 165px);
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

}

.sidebar-title {
  font-size: 22px;
  margin-bottom: 20px;
	margin-left: -80px;
}

.sidebar-menu {
  flex-grow: 1;
	margin-left: -30px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.sidebar-menu a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.sidebar-menu a:hover {
  background-color: #e0e0e0;
}